body {
    background-color: black;
    color: white;
    font-family: sans-serif;
}

.title {
    display: flex;
    justify-content: center;
    font-family: sans-serif;
    color: white;
}
.content{
    max-width: 800px;  
    margin: 0 auto;   
    padding: 20px;
    text-align: center; 
    font-size: 20px;
}
.initial-img{
    max-width: 800px;
    margin: 30px auto 0 auto;
    display: block;
}