[BASIC]
good-names =
    DATABASES,
    SECRET_KEY,
    DEBUG,
    ALLOWED_HOSTS,
    INSTALLED_APPS,
    ROOT_URLCONF,
    WSGI_APPLICATION,
    STATIC_URL,
    STATIC_ROOT,
    MEDIA_URL,
    MEDIA_ROOT
